:root {
  --background-color: #ffffff;
  --main-color: #212121;
  --second-color: #757575;
  --color-button: #2196f3;
  --background-color-button: #188ce8;
  --background-color-team: #f5f4fa;
  --bcg-second: #2f303a;
  --third-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: var(--background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

.link:hover,
.link:focus {
  color: var(--color-button);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.--margin-bottom50{
  margin-bottom: 50px;
}

.--margin-bottom10{
  margin-bottom: 10px;
}

.--margin-bottom16{
  margin-bottom: 16px;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
}

.nav-item .current {
  color: var(--color-button);
}

.nav-item {
  position: relative;
}

.header-logo {
  display: block;
  width: 145px;
  margin-right: 93px;
}

.logo-first {
  color: var(--color-button);
}

.logo-second {
  color: #000000;
}

.header {
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
  padding: 32px 0;
  gap: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 32px 0;
  gap: 50px;
}

.nav-link {
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background-color: var(--color-button);
  border-radius: 2px;
}

.contact {
  display: flex;
  align-items: center;
  align-self: baseline;
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail,
.phone {
  margin-right: 10px;
  fill: var(--second-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .mail,
.contact:focus .mail,
.contact:hover .phone,
.contact:focus .phone {
  fill: var(--color-button);
}

.contact:hover,
.contact:focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero Section */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: var(--bcg-second);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-comand.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--background-color);
  background-color: var(--color-button);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-color-button);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--background-color-button);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Benefits Section */

.benefits {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.benefist__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-color-team);
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.benefits__text {
  min-width: 270px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--second-color);
}

/* work */

.work {
  padding-top: 0;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}

.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.work__item {
  position: relative;
}

.ideas {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.ideas__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
}

/* Comand */

.comand {
  background-color: var(--background-color-team);
}

.comand__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-color);
}

/* Comands */

.comands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.comands__item{
  background-color: var(--background-color);
}

/* employee */

.employee {
  padding: 30px 0;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__name {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

.employee__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}

/* Media */

.media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Socials */

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--background-color);
  background-color: var(--color-button);
}

.socials__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--background-color);
}

/* Постоянные Клиенты */

.clients-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  border-radius: 4px;
}

.clients-icon {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border-radius: inherit;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--color-button);
  border-radius: var(--color-button);
  border-radius: 4px;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  color: var(--color-button);
  border: 1px solid var(--color-button);
}

/* Footer */
.footer-content {
  display: flex;
  align-items: baseline;
}

.footer {
  display: flex;
  padding: 60px 0;
  background-color: var(--bcg-second);
  font-style: normal;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.list-address:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-weight: 400;
  line-height: 1.71;
  color: var(--background-color);
}

.footer-contact {
  margin-right: 70px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--third-color);
}

.color {
  color: var(--background-color);
}

.socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover .social-icon,
.social-icon:focus .social-icon {
  background-color: var(--color-button);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--background-color);
  background-color: var(--color-button);
}

.follow {
  position: relative;
  margin-left: 93px;
}

.follow-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-color);
}

.follow-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--background-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
}

.follow-button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 28px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: left;

  color: var(--background-color);
  background-color: var(--color-button);
  border: transparent;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-icon {
  position: absolute;
  margin-left: 10px;
  fill: var(--background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-icon:hover,
.follow-icon:focus {
  fill: var(--background-color);
  background-color: var(--color-button);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-button:hover,
.follow-button:focus {
  background-color: var(--background-color-button);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */

.button-project {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  background-color: var(--background-color-team);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--background-color);
  background-color: var(--color-button);
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.project-link {
  display: block;
  width: 370px;
  height: 404px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus::before {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-box {
  border: 1px solid var(--background-color);
  border-top: none;
  padding: 20px 24px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list:hover .overlay,
.project-list:focus .overlay {
  transform: translateY(0);
}

.project-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
}

.project-item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-works {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

.address {
  font-style: normal;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

/* \\\\\\\\\\\\\\\
   FROM\\\\\\\\\\\ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #000000;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  color: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: var(--color-button);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 40px;
  margin-top: 40px;
  margin-bottom: 12px;
  color: var(--main-color);
}

.modal-form {
  display: block;
}

.form-item-list {
  position: relative;
  display: block;
  padding-left: 40px;
}

.form-item:not(:last-child) {
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.form-input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item-list:focus-within > .form-icon {
  fill: var(--color-button);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  content: "";
  top: 50px;
  left: 60px;
  color: var(--main-color);
  transform: translate(-50%, -60%);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-left: 16px;
  border: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input-text:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-treaty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-treaty {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  margin-right: 7px;
}

.input-treaty:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.form-text-treaty {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  user-select: none;
}

.link-treaty {
  margin-left: 7px;
  color: var(--color-button);
  text-decoration: underline;
}

.form-btn {
  margin-left: 165px;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--background-color-button);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  fill: var(--color-button);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
